# Bangalore_house_price

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Importing the data

In [2]:
df_raw=pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
df=df_raw.copy()
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

## Data processing

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [6]:
df.groupby('area_type').size()

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
dtype: int64

In [7]:
df.drop(['area_type','availability','society','balcony'],axis=1,inplace=True)

In [8]:
df.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df.isna().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [11]:
df.shape

(13246, 5)

In [12]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [13]:
df['size']=df['size'].replace(dict.fromkeys(['1 RK'],'0 BHK'))

In [14]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '0 BHK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [15]:
df['BHK']=df['size'].apply(lambda x: int(x.split(' ')[0]))

In [16]:
df.drop('size',axis=1,inplace=True)
df.head()

                   location total_sqft  bath   price  BHK
0  Electronic City Phase II       1056   2.0   39.07    2
1          Chikka Tirupathi       2600   5.0  120.00    4
2               Uttarahalli       1440   2.0   62.00    3
3        Lingadheeranahalli       1521   3.0   95.00    3
4                  Kothanur       1200   2.0   51.00    2

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13246 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13246 non-null  object
 1   total_sqft  13246 non-null  object
 2   bath        13246 non-null  float64
 3   price       13246 non-null  float64
 4   BHK         13246 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 620.9+ KB

In [18]:
def convert_to_avg(X):
    token=X.split('-')
    if len(token) == 2:
        return (float(token[0])+float(token[1]))/2
    try:
        return float(X)
    except:
        return None

In [19]:
df['total_sqft']=df['total_sqft'].apply(convert_to_avg)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13246 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13246 non-null  object
 1   total_sqft  13200 non-null  float64
 2   bath        13246 non-null  float64
 3   price       13246 non-null  float64
 4   BHK         13246 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 620.9+ KB

In [21]:
df['Price_per_sqft']=df['price']*100000/df['total_sqft']

In [22]:
df.head()

                   location  total_sqft  bath   price  BHK  Price_per_sqft
0  Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1          Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2               Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3        Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                  Kothanur      1200.0   2.0   51.00    2     4250.000000

In [23]:
location=df.groupby('location').size().sort_values(ascending=False)

In [24]:
location_less_10=location[location<=10]
location_less_10

location
Dodsworth Layout         10
1st Block Koramangala    10
Nagappa Reddy Layout     10
Ganga Nagar              10
Dairy Circle             10
                         ..
 Banaswadi                1
Kanakadasa Layout         1
Kanakapur main road       1
Kanakapura  Rod           1
whitefiled                1
Length: 1063, dtype: int64

In [25]:
df['location'].nunique()

1304

In [26]:
df['location']=df['location'].apply(lambda x : 'others' if x in location_less_10 else x)

In [27]:
df['location'].nunique()

242

In [28]:
loc=pd.get_dummies(df['location'])

In [29]:
df=pd.concat([df,loc],axis=1)

In [30]:
df.head()

,location,total_sqft,bath,price,BHK,Price_per_sqft,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,Electronic City Phase II,1056.0,2.0,39.07,2,3699.810606,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,2600.0,5.0,120.00,4,4615.384615,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,1440.0,2.0,62.00,3,4305.555556,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,1521.0,3.0,95.00,3,6245.890861,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,1200.0,2.0,51.00,2,4250.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df.drop(['location','total_sqft','price'],inplace=True,axis=1)

In [32]:
df.head()

,bath,BHK,Price_per_sqft,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,2.0,2,3699.810606,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,4,4615.384615,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3,4305.555556,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,3,6245.890861,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2,4250.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df.isna().sum()

bath                     0
BHK                      0
Price_per_sqft          46
 Devarachikkanahalli     0
1st Block Jayanagar      0
                        ..
Yelahanka                0
Yelahanka New Town       0
Yelenahalli              0
Yeshwanthpur             0
others                   0
Length: 245, dtype: int64

In [34]:
df.dropna(inplace=True)

## Model

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X=df.drop('Price_per_sqft',axis=1)
y=df['Price_per_sqft']

In [37]:
y.isna().sum()

0

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## Scalar

## Model

In [39]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()

In [40]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [42]:
M1=LinearRegression()
M1.fit(X_train,y_train)

LinearRegression()

In [43]:
P1=M1.predict(X_test)
print('mean_squared_error:',np.sqrt(mean_squared_error(y_test,P1)))
print('\n')
print('mean_absolute_error:',mean_absolute_error(y_test,P1))
print('\n')
print('mean_squared_error:',mean_squared_error(y_test,P1))
print('\n')
print('R2_Score',r2_score(y_test,P1))

mean_squared_error: 37408.81163632858


mean_absolute_error: 4482.567053023702


mean_squared_error: 1399419188.0423129


R2_Score -0.03923453245161501

## Ridge

In [44]:
from sklearn.linear_model import Ridge

In [45]:
M4=Ridge()
M4.fit(X_train,y_train)
P4=M4.predict(X_test)
print('mean_squared_error:', mean_squared_error(y_test,P4))
print('\n')
print('mean_absolute_error:', mean_absolute_error(y_test,P4))
print('\n')
print('R2 score:',r2_score(y_test,P4))

mean_squared_error: 1398700924.2410445


mean_absolute_error: 4450.827057607005


R2 score: -0.03870113648844242

In [46]:
from sklearn.linear_model import Lasso

In [47]:
M6=Lasso()
M6.fit(X_train,y_train)
P6=M6.predict(X_test)
print('mean_squared_error:', mean_squared_error(y_test,P6))
print('\n')
print('mean_absolute_error:', mean_absolute_error(y_test,P6))
print('\n')
print('R2 score:',r2_score(y_test,P6))

mean_squared_error: 1399249894.309154


mean_absolute_error: 4458.193676790331


R2 score: -0.03910881179898307

In [48]:
from sklearn.ensemble import RandomForestRegressor

In [49]:
M7=RandomForestRegressor()
M7.fit(X_train,y_train)
P7=M7.predict(X_test)
print('mean_squared_error:', mean_squared_error(y_test,P7))
print('\n')
print('mean_absolute_error:', mean_absolute_error(y_test,P7))
print('\n')
print('R2 score:',r2_score(y_test,P7))

mean_squared_error: 2312432316.858687


mean_absolute_error: 4277.705809952858


R2 score: -0.7172549427441326

In [50]:
from sklearn.tree import DecisionTreeRegressor

In [51]:
M8=DecisionTreeRegressor()
M8.fit(X_train,y_train)
P8=M8.predict(X_test)
print('mean_squared_error:', mean_squared_error(y_test,P8))
print('\n')
print('mean_absolute_error:', mean_absolute_error(y_test,P8))
print('\n')
print('R2 score:',r2_score(y_test,P8))

mean_squared_error: 2622485298.889386


mean_absolute_error: 4519.46808872292


R2 score: -0.9475060130232689

In [52]:
from sklearn.neighbors import KNeighborsRegressor

In [53]:
M9=KNeighborsRegressor(n_neighbors=3)
M9.fit(X_train,y_train)
P9=M9.predict(X_test)
print('mean_squared_error:', mean_squared_error(y_test,P9))
print('\n')
print('mean_absolute_error:', mean_absolute_error(y_test,P9))
print('\n')
print('R2 score:',r2_score(y_test,P9))

mean_squared_error: 1330303496.3706262


mean_absolute_error: 2646.671724437882


R2 score: 0.012092056559913855

In [54]:
from sklearn.neural_network import MLPRegressor

In [55]:
M10=MLPRegressor( hidden_layer_sizes=(1000,))
M10.fit(X_train,y_train)
P10=M10.predict(X_test)
print('mean_squared_error:', mean_squared_error(y_test,P10))
print('\n')
print('mean_absolute_error:', mean_absolute_error(y_test,P10))
print('\n')
print('R2 score:',r2_score(y_test,P10))

mean_squared_error: 1336552582.8028145


mean_absolute_error: 3152.7716911400526


R2 score: 0.0074513695719856665

In [56]:
import pickle
with open ('Bangalore_model.pickle','wb') as f:
    pickle.dump(M9,f)

In [57]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))